{%extends 'base.html'%}
{%load static%}
{%block title%}Home{%endblock title%}
{%block content%}
<div class="row" >
<div class="col-12" style="background-color: black;height: 80px;">
<div class="header">
    HOMEPAGE
</div>
</div>
</div>
<div class="row" style="margin-top: 30px;">
    <div class="col-6 rev_container">
        <div class="head">
            <div class="tag"><span class="tags"></span></div>
        </div>
        <div class="main">
            <span class="url col-6"></span>
            <span class="rate"><span class="fa fa-star star"></span> </span>
            <span class="name">hfhffh</span>
            <span class="authenticity">gfdgd</span>
            <span class="review">Review:<span class="review_text"></span></span>
            <span class="arrow"><i class="fa fa-arrow-right"></i></span>
        </div>
        <button class="btn btn-primary" id="button">Get Review Details</button>
    </div>
</div>
{%endblock content%}
